In [1]:
import timeit
import requests
import json
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy
import json
import numpy as np
import csv
from pandas.io.json import json_normalize

In [2]:
user='postgres'
passwd='postgres'
host='postgresql'
port='5432'
db='cartola'
url = 'postgresql://{user}:{passwd}@{host}:{port}/{db}'.format(user=user, passwd=passwd, host=host, port=port, db=db)
print(url)

#engine = create_engine(url)

postgresql://postgres:postgres@postgresql:5432/cartola

In [3]:
def create_database_session():
    #engine = create_engine(f'postgresql://{user}:{passwd}@{address}/{db_name}')
    engine = create_engine(url)
    return engine

In [4]:
def erase_data(engine):
    engine.execute('TRUNCATE match')

In [5]:
def create_table(engine):
    engine.execute('''
        CREATE TABLE IF NOT EXISTS match (
            match_id integer, 
            turn smallint,
            home_id smallint,
            visitor_id smallint,
            date varchar(20),
            timestamp bigint,
            local varchar(80),
            valid boolean,
            home_goal smallint,
            visitor_goal smallint
        )'''
    )

In [6]:
def save_data(engine, dataframe):
    dataframe.to_sql('match', con=engine, index=False, if_exists='replace')

In [7]:
def count_data(engine):
    return engine.execute('SELECT count(*) FROM match')

# Carregando dados dos jogos

In [8]:
start = timeit.default_timer()

In [9]:
home_page = requests.get('https://api.cartolafc.globo.com/partidas')
home_json = json.loads(home_page.content)
last_turn = home_json['rodada']
print(f'Rodada atual: {last_turn}')

Rodada atual: 33

In [10]:
matches = []
for turn in range(1, last_turn):
    turn_page = requests.get(f'https://api.cartolafc.globo.com/partidas/{turn}')
    turn_json = json.loads(turn_page.content)
    turn_matches = turn_json['partidas']
    for match_data in turn_matches:
        match = {
            'match_id': match_data['partida_id'],
            'turn': turn,
            'home_id': match_data['clube_casa_id'],
            'visitor_id': match_data['clube_visitante_id'],
            'date': match_data['partida_data'],
            'timestamp': match_data['timestamp'],
            'local': match_data['local'],
            'valid': match_data['valida'],
            'home_goal': match_data['placar_oficial_mandante'],
            'visitor_goal': match_data['placar_oficial_visitante'],
            
        }
        matches.append(match)

In [11]:
df_matches = pd.DataFrame(matches)
df_matches.shape

(320, 10)

In [12]:
engine = create_database_session()
#create_table(engine)
erase_data(engine)
save_data(engine, df_matches)
count_data(engine).fetchall()

[(320,)]

In [13]:
end = timeit.default_timer()
print ('Duração: %.f segundo(os)' % ((end - start) ))

Duração: 7 segundo(os)

# Carregando dados de jogadores

In [14]:
# Obtendo os dados pela API
def getDadosRodada (rodada):
    url = 'https://api.cartolafc.globo.com/atletas/pontuados/{}'.format(rodada)
    r = requests.get(url)
    json_dados_rodada = r.json()
    numero_rodada = json_dados_rodada['rodada']
    total_atletas_rodada = json_dados_rodada['total_atletas']
    df_atletas = pd.DataFrame.from_dict(json_dados_rodada['atletas'], orient='index')
    df_atletas['id_atleta'] = df_atletas.index
    json_struct = json.loads(df_atletas.to_json(orient="records"))    
    #df_atletas_flat = pd.io.json.json_normalize(json_struct) #use pd.io.json
    df_atletas_flat = pd.json_normalize(json_struct) #use pd.io.json
    df_atletas_flat.fillna(0, inplace=True)
    return df_atletas_flat, numero_rodada, total_atletas_rodada

In [15]:
#verificacoes
def verificaDados(df_atletas_flat, numero_rodada, total_atletas_rodada):
    #verifica se o numero de atletas esta ok
    if df_atletas_flat.shape[0] != total_atletas_rodada:
        print('Erro no numero de atletas da rodada! apurado:{}, indicado:{}'.format(df_atletas_flat.shape[0], total_atletas_rodada))
        return False
    else:
        print('Verificacao numero de atletas da rodada ok! apurado:{}, indicado:{}'.format(df_atletas_flat.shape[0], total_atletas_rodada))

    #verifica se possui todos os scouts
    for i in scouts_possiveis:
        if i not in df_atletas_flat.columns:
            print('Coluna {} nao encontrada. Adicionando'.format(i))
            df_atletas_flat[i] = 0

    #verifica se a pontuacao dos atletas esta ok
    df_atletas_flat['pontuacao_calculada']=\
        df_atletas_flat['scout.G']*8.0+\
        df_atletas_flat['scout.A']*5.0+\
        df_atletas_flat['scout.FT']*3.0+\
        df_atletas_flat['scout.FD']*1.2+\
        df_atletas_flat['scout.FF']*0.8+\
        df_atletas_flat['scout.FS']*0.5+\
        df_atletas_flat['scout.PS']*1.0+\
        df_atletas_flat['scout.PP']*-4.0+\
        df_atletas_flat['scout.I']*-0.5+\
        df_atletas_flat['scout.PI']*-0.1+\
        df_atletas_flat['scout.DP']*7.0+\
        df_atletas_flat['scout.SG']*5.0+\
        df_atletas_flat['scout.DE']*1.0+\
        df_atletas_flat['scout.DS']*1.0+\
        df_atletas_flat['scout.CA']*-2.0+\
        df_atletas_flat['scout.GS']*-1.0+\
        df_atletas_flat['scout.FC']*-0.5+\
        df_atletas_flat['scout.PC']*-1.0+\
        df_atletas_flat['scout.GC']*-5.0+\
        df_atletas_flat['scout.CV']*-5.0

    df_atletas_flat['diff_pontuacao'] = abs(df_atletas_flat['pontuacao_calculada']-df_atletas_flat['pontuacao'])

    numero_atletas_errado = df_atletas_flat[(df_atletas_flat['posicao_id']!=6) & (df_atletas_flat['diff_pontuacao'] > 0.001)].shape[0]

    if numero_atletas_errado > 0:
        print('Erro na pontuacao de alguns atletas. Numero de atletas com problema:{}'.format(numero_tletas_errado))
        return False
    else:
        print('Pontuacao dos atletas OK')

    df_atletas_flat['rodada'] = numero_rodada

    # exclui colunas scout, pontuacao_calculada e diff_pontuacao
    df_atletas_flat = df_atletas_flat[['apelido', 'foto', 'pontuacao', 'posicao_id', 'clube_id',\
           'entrou_em_campo', 'id_atleta', 'scout.FC', 'scout.FS', 'scout.PI',\
           'scout.FF', 'scout.A', 'scout.DS', 'scout.DE', 'scout.GS', 'scout.FD',\
           'scout.SG', 'scout.CA', 'scout.FT', 'scout.G', 'scout.PC',\
           'scout.PS', 'scout.PP', 'scout.I', 'scout.DP', 'scout.GC', 'scout.CV',\
           'rodada']]
    return True, df_atletas_flat

In [16]:
scouts_possiveis = ['scout.FC', 'scout.FS', 'scout.PI',\
       'scout.FF', 'scout.A', 'scout.DS', 'scout.DE', 'scout.GS', 'scout.FD',\
       'scout.SG', 'scout.CA', 'scout.FT', 'scout.G', 'scout.PC',\
       'scout.PS', 'scout.PP', 'scout.I', 'scout.DP', 'scout.GC', 'scout.CV']

In [17]:
df_all = pd.DataFrame()

In [18]:
for num_rodada in range(1, last_turn):
    print('Processando rodada={}'.format(num_rodada))
    df_atletas_flat, numero_rodada, total_atletas_rodada = getDadosRodada(num_rodada)
    flagVerificao, df_atletas_flat = verificaDados(df_atletas_flat, numero_rodada, total_atletas_rodada)
    if not flagVerificao:
        print('================= Dados nao confiaveis ===================')
    else:
        df_all = df_all.append(df_atletas_flat, ignore_index = True)

Processando rodada=1
Verificacao numero de atletas da rodada ok! apurado:297, indicado:297
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Coluna scout.CV nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=2
Verificacao numero de atletas da rodada ok! apurado:268, indicado:268
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=3
Verificacao numero de atletas da rodada ok! apurado:265, indicado:265
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=4
Verificacao numero de atletas da rodada ok! apurado:270, indicado:270
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=5
Verificacao numero de atletas da rodada ok! apurado:262, indicado:262
Coluna scout.GC nao encontrada. Adicionando
Coluna scout.CV nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=6
Verificacao numero de atletas da rodada ok! apurado:303, indicado:303
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=7
Verificacao numero de atletas da rodada ok! apurado:303, indicado:303
Pontuacao dos atletas OK
Processando rodada=8
Verificacao numero de atletas da rodada ok! apurado:305, indicado:305
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=9
Verificacao numero de atletas da rodada ok! apurado:303, indicado:303
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=10
Verificacao numero de atletas da rodada ok! apurado:277, indicado:277
Coluna scout.PC nao encontrada. Adicionando
Coluna scout.PS nao encontrada. Adicionando
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Coluna scout.CV nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=11
Verificacao numero de atletas da rodada ok! apurado:314, indicado:314
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=12
Verificacao numero de atletas da rodada ok! apurado:322, indicado:322
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=13
Verificacao numero de atletas da rodada ok! apurado:318, indicado:318
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=14
Verificacao numero de atletas da rodada ok! apurado:291, indicado:291
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=15
Verificacao numero de atletas da rodada ok! apurado:290, indicado:290
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=16
Verificacao numero de atletas da rodada ok! apurado:327, indicado:327
Coluna scout.PS nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=17
Verificacao numero de atletas da rodada ok! apurado:327, indicado:327
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=18
Verificacao numero de atletas da rodada ok! apurado:319, indicado:319
Coluna scout.CV nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=19
Verificacao numero de atletas da rodada ok! apurado:167, indicado:167
Coluna scout.PS nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=20
Verificacao numero de atletas da rodada ok! apurado:329, indicado:329
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=21
Verificacao numero de atletas da rodada ok! apurado:329, indicado:329
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=22
Verificacao numero de atletas da rodada ok! apurado:331, indicado:331
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=23
Verificacao numero de atletas da rodada ok! apurado:263, indicado:263
Coluna scout.PC nao encontrada. Adicionando
Coluna scout.PS nao encontrada. Adicionando
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.CV nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=24
Verificacao numero de atletas da rodada ok! apurado:293, indicado:293
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Coluna scout.CV nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=25
Verificacao numero de atletas da rodada ok! apurado:303, indicado:303
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=26
Verificacao numero de atletas da rodada ok! apurado:335, indicado:335
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=27
Verificacao numero de atletas da rodada ok! apurado:331, indicado:331
Coluna scout.PS nao encontrada. Adicionando
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=28
Verificacao numero de atletas da rodada ok! apurado:334, indicado:334
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=29
Verificacao numero de atletas da rodada ok! apurado:334, indicado:334
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=30
Verificacao numero de atletas da rodada ok! apurado:294, indicado:294
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=31
Verificacao numero de atletas da rodada ok! apurado:272, indicado:272
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Pontuacao dos atletas OK
Processando rodada=32
Verificacao numero de atletas da rodada ok! apurado:306, indicado:306
Coluna scout.PP nao encontrada. Adicionando
Coluna scout.DP nao encontrada. Adicionando
Coluna scout.GC nao encontrada. Adicionando
Pontuacao dos atletas OK

In [19]:
df_all.shape

(9582, 28)

In [20]:
df_scouts = df_all[['apelido', 'pontuacao', 'posicao_id', 'clube_id',\
       'entrou_em_campo', 'id_atleta', 'scout.FC', 'scout.FS', 'scout.PI',\
       'scout.FF', 'scout.A', 'scout.DS', 'scout.DE', 'scout.GS', 'scout.FD',\
       'scout.SG', 'scout.CA', 'scout.FT', 'scout.G', 'scout.PC', 'scout.PS',\
       'scout.PP', 'scout.I', 'scout.DP', 'scout.GC', 'scout.CV', 'rodada']]

In [21]:
df_scouts.columns = ['player_name', 'points', 'id_position', 'id_club',\
                    'has_played', 'id_player', 'scout_fc', 'scout_fs', 'scout_pi',\
       'scout_ff', 'scout_a', 'scout_ds', 'scout_de', 'scout_gs', 'scout_fd',\
       'scout_sg', 'scout_ca', 'scout_ft', 'scout_g', 'scout_pc', 'scout_ps',\
       'scout_pp', 'scout_i', 'scout_dp', 'scout_gc', 'scout_cv', 'round']

In [22]:
#df_scouts.to_sql('scouts', engine, if_exists='append', index=False)
df_scouts.to_sql('scouts', engine, if_exists='replace', index=False)

# Analises

In [23]:
query = 'select * from match;'
df_match = pd.read_sql(query, con=engine)
df_match.shape

(320, 10)

In [24]:
df_scouts = pd.read_sql('select * from scouts', con=engine)
df_scouts.shape

(9582, 27)

In [25]:
df_club = pd.read_sql('select * from club', con=engine)
df_club.shape

(20, 3)

In [26]:
df_match.head()

,match_id,turn,home_id,visitor_id,date,timestamp,local,valid,home_goal,visitor_goal
0,270160,1,1371,286,2021-05-29 19:00:00,1622325600,Arena Pantanal,True,2.0,2.0
1,270157,1,265,277,2021-05-29 20:00:00,1622329200,Pituaçu,True,3.0,0.0
2,270153,1,276,266,2021-05-29 21:00:00,1622332800,Morumbi,True,0.0,0.0
3,270154,1,282,356,2021-05-30 11:00:00,1622383200,Mineirão,True,1.0,2.0
4,270151,1,262,275,2021-05-30 16:00:00,1622401200,Maracanã,True,1.0,0.0

In [27]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,scout_ft,scout_g,scout_pc,scout_ps,scout_pp,scout_i,scout_dp,scout_gc,scout_cv,round
0,Zaracho,0.0,4,282,True,100079,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,Igor Gomes,0.2,4,276,True,100084,0.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,Pedrinho,0.8,5,280,True,100103,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,Yuri Alberto,-0.6,5,285,True,100652,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,Liziero,-0.3,4,276,True,100761,3.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [28]:
df_club.head()

     id         name initials
0  1371       Cuiabá      CUI
1   262     Flamengo      FLA
2   264  Corinthians      COR
3   265        Bahia      BAH
4   266   Fluminense      FLU

In [29]:
df_scouts['round'].value_counts().sort_index()

1     297
2     268
3     265
4     270
5     262
6     303
7     303
8     305
9     303
10    277
11    314
12    322
13    318
14    291
15    290
16    327
17    327
18    319
19    167
20    329
21    329
22    331
23    263
24    293
25    303
26    335
27    331
28    334
29    334
30    294
31    272
32    306
Name: round, dtype: int64

# Analise dos Jogos

In [30]:
df_match['diff_goals'] = df_match['home_goal']-df_match['visitor_goal']

In [31]:
def vencedor(diff):
    if diff > 0:
        return 'CASA'
    elif diff == 0:
        return 'EMPATE'
    else:
        return 'VISITANTE'

In [32]:
df_match['vencedor'] = df_match['diff_goals'].map(vencedor)

In [33]:
df_match.head()

,match_id,turn,home_id,visitor_id,date,timestamp,local,valid,home_goal,visitor_goal,diff_goals,vencedor
0,270160,1,1371,286,2021-05-29 19:00:00,1622325600,Arena Pantanal,True,2.0,2.0,0.0,EMPATE
1,270157,1,265,277,2021-05-29 20:00:00,1622329200,Pituaçu,True,3.0,0.0,3.0,CASA
2,270153,1,276,266,2021-05-29 21:00:00,1622332800,Morumbi,True,0.0,0.0,0.0,EMPATE
3,270154,1,282,356,2021-05-30 11:00:00,1622383200,Mineirão,True,1.0,2.0,-1.0,VISITANTE
4,270151,1,262,275,2021-05-30 16:00:00,1622401200,Maracanã,True,1.0,0.0,1.0,CASA

In [34]:
df_match.shape

(320, 12)

In [35]:
df_match['datetime'] = pd.to_datetime(df_match['date'])

In [36]:
df_match.dtypes

match_id                 int64
turn                     int64
home_id                  int64
visitor_id               int64
date                    object
timestamp                int64
local                   object
valid                     bool
home_goal              float64
visitor_goal           float64
diff_goals             float64
vencedor                object
datetime        datetime64[ns]
dtype: object

In [37]:
df_match['vencedor'].value_counts()

CASA         137
EMPATE        98
VISITANTE     85
Name: vencedor, dtype: int64

In [38]:
numero_jogos = len(df_match)
numero_jogos_vencedor_casa = len(df_match[df_match['vencedor']=='CASA'])
numero_jogos_vencedor_fora = len(df_match[df_match['vencedor']=='VISITANTE'])
numero_jogos_empate = len(df_match[df_match['vencedor']=='EMPATE'])

In [39]:
if (numero_jogos_vencedor_casa+numero_jogos_vencedor_fora+numero_jogos_empate) != numero_jogos:
    print('Inconsistencia encontrada!!!!!!!!!!!!!!!!!!!!!!!!!!')
else:
    print('Dados consistentes')

Dados consistentes

In [40]:
numero_jogos

320

In [41]:
print('Percentual de vitoria CASA={}'.format(numero_jogos_vencedor_casa/numero_jogos))
print('Percentual de vitoria EMPATE={}'.format(numero_jogos_empate/numero_jogos))
print('Percentual de vitoria FORA={}'.format(numero_jogos_vencedor_fora/numero_jogos))

Percentual de vitoria CASA=0.428125
Percentual de vitoria EMPATE=0.30625
Percentual de vitoria FORA=0.265625

In [42]:
df_match_before = df_match[df_match['datetime'] <= '2021-10-01 00:00:00']

In [43]:
df_match_before['vencedor'].value_counts()

CASA         81
EMPATE       70
VISITANTE    63
Name: vencedor, dtype: int64

In [44]:
numero_jogos = len(df_match_before)
numero_jogos_vencedor_casa = len(df_match_before[df_match_before['vencedor']=='CASA'])
numero_jogos_vencedor_fora = len(df_match_before[df_match_before['vencedor']=='VISITANTE'])
numero_jogos_empate = len(df_match_before[df_match_before['vencedor']=='EMPATE'])

In [45]:
print('Percentual de vitoria - S/ TORCIDA')
print('Percentual de vitoria CASA={}'.format(numero_jogos_vencedor_casa/numero_jogos))
print('Percentual de vitoria EMPATE={}'.format(numero_jogos_empate/numero_jogos))
print('Percentual de vitoria FORA={}'.format(numero_jogos_vencedor_fora/numero_jogos))

Percentual de vitoria - S/ TORCIDA
Percentual de vitoria CASA=0.37850467289719625
Percentual de vitoria EMPATE=0.32710280373831774
Percentual de vitoria FORA=0.29439252336448596

In [46]:
df_match_after = df_match[df_match['datetime'] > '2021-10-01 00:00:00']
df_match_after['vencedor'].value_counts()

CASA         56
EMPATE       28
VISITANTE    22
Name: vencedor, dtype: int64

In [47]:
numero_jogos = len(df_match_after)
numero_jogos_vencedor_casa = len(df_match_after[df_match_after['vencedor']=='CASA'])
numero_jogos_vencedor_fora = len(df_match_after[df_match_after['vencedor']=='VISITANTE'])
numero_jogos_empate = len(df_match_after[df_match_after['vencedor']=='EMPATE'])

In [48]:
print('Percentual de vitoria - C/ TORCIDA')
print('Percentual de vitoria CASA={}'.format(numero_jogos_vencedor_casa/numero_jogos))
print('Percentual de vitoria EMPATE={}'.format(numero_jogos_empate/numero_jogos))
print('Percentual de vitoria FORA={}'.format(numero_jogos_vencedor_fora/numero_jogos))

Percentual de vitoria - C/ TORCIDA
Percentual de vitoria CASA=0.5283018867924528
Percentual de vitoria EMPATE=0.2641509433962264
Percentual de vitoria FORA=0.20754716981132076

In [49]:
df_match[['home_goal', 'visitor_goal']].describe()

        home_goal  visitor_goal
count  317.000000    317.000000
mean     1.242902      0.981073
std      1.091243      0.983867
min      0.000000      0.000000
25%      0.000000      0.000000
50%      1.000000      1.000000
75%      2.000000      2.000000
max      5.000000      5.000000

# Análise dos Jogadores

In [50]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,scout_ft,scout_g,scout_pc,scout_ps,scout_pp,scout_i,scout_dp,scout_gc,scout_cv,round
0,Zaracho,0.0,4,282,True,100079,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,Igor Gomes,0.2,4,276,True,100084,0.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,Pedrinho,0.8,5,280,True,100103,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,Yuri Alberto,-0.6,5,285,True,100652,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,Liziero,-0.3,4,276,True,100761,3.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [51]:
df_match.head()

,match_id,turn,home_id,visitor_id,date,timestamp,local,valid,home_goal,visitor_goal,diff_goals,vencedor,datetime
0,270160,1,1371,286,2021-05-29 19:00:00,1622325600,Arena Pantanal,True,2.0,2.0,0.0,EMPATE,2021-05-29 19:00:00
1,270157,1,265,277,2021-05-29 20:00:00,1622329200,Pituaçu,True,3.0,0.0,3.0,CASA,2021-05-29 20:00:00
2,270153,1,276,266,2021-05-29 21:00:00,1622332800,Morumbi,True,0.0,0.0,0.0,EMPATE,2021-05-29 21:00:00
3,270154,1,282,356,2021-05-30 11:00:00,1622383200,Mineirão,True,1.0,2.0,-1.0,VISITANTE,2021-05-30 11:00:00
4,270151,1,262,275,2021-05-30 16:00:00,1622401200,Maracanã,True,1.0,0.0,1.0,CASA,2021-05-30 16:00:00

In [52]:
df_match.columns

Index(['match_id', 'turn', 'home_id', 'visitor_id', 'date', 'timestamp',
       'local', 'valid', 'home_goal', 'visitor_goal', 'diff_goals', 'vencedor',
       'datetime'],
      dtype='object')

In [53]:
df_scouts.columns

Index(['player_name', 'points', 'id_position', 'id_club', 'has_played',
       'id_player', 'scout_fc', 'scout_fs', 'scout_pi', 'scout_ff', 'scout_a',
       'scout_ds', 'scout_de', 'scout_gs', 'scout_fd', 'scout_sg', 'scout_ca',
       'scout_ft', 'scout_g', 'scout_pc', 'scout_ps', 'scout_pp', 'scout_i',
       'scout_dp', 'scout_gc', 'scout_cv', 'round'],
      dtype='object')

In [54]:
df_match.columns = ['match_id', 'round', 'id_club', 'visitor_id', 'date', 'timestamp',\
       'local', 'valid', 'home_goal', 'visitor_goal', 'diff_goals', 'vencedor',\
       'datetime']

In [55]:
def is_home(home_id, id_club):
    if home_id == id_club:
        return 1
    else:
        return 0

In [56]:
df_scouts = pd.merge(df_scouts, df_match, how='left', on=['round', 'id_club'])

In [57]:
df_match.columns = ['match_id', 'round', 'home_id', 'id_club', 'date', 'timestamp',\
       'local', 'valid', 'home_goal', 'visitor_goal', 'diff_goals', 'vencedor',\
       'datetime']

In [58]:
df_scouts = pd.merge(df_scouts, df_match, how='left', on=['round', 'id_club'])

In [59]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,home_id,date_y,timestamp_y,local_y,valid_y,home_goal_y,visitor_goal_y,diff_goals_y,vencedor_y,datetime_y
0,Zaracho,0.0,4,282,True,100079,1.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,Igor Gomes,0.2,4,276,True,100084,0.0,1.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,Pedrinho,0.8,5,280,True,100103,0.0,0.0,0.0,1.0,...,315.0,2021-05-30 18:15:00,1.622409e+09,Arena Condá,True,0.0,3.0,-3.0,VISITANTE,2021-05-30 18:15:00
3,Yuri Alberto,-0.6,5,285,True,100652,2.0,1.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,Liziero,-0.3,4,276,True,100761,3.0,1.0,3.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [60]:
df_scouts.shape

(9582, 49)

In [61]:
df_scouts.columns

Index(['player_name', 'points', 'id_position', 'id_club', 'has_played',
       'id_player', 'scout_fc', 'scout_fs', 'scout_pi', 'scout_ff', 'scout_a',
       'scout_ds', 'scout_de', 'scout_gs', 'scout_fd', 'scout_sg', 'scout_ca',
       'scout_ft', 'scout_g', 'scout_pc', 'scout_ps', 'scout_pp', 'scout_i',
       'scout_dp', 'scout_gc', 'scout_cv', 'round', 'match_id_x', 'visitor_id',
       'date_x', 'timestamp_x', 'local_x', 'valid_x', 'home_goal_x',
       'visitor_goal_x', 'diff_goals_x', 'vencedor_x', 'datetime_x',
       'match_id_y', 'home_id', 'date_y', 'timestamp_y', 'local_y', 'valid_y',
       'home_goal_y', 'visitor_goal_y', 'diff_goals_y', 'vencedor_y',
       'datetime_y'],
      dtype='object')

In [62]:
df_scouts['home_id'].fillna(df_scouts['id_club'], inplace= True)
df_scouts['visitor_id'].fillna(df_scouts['id_club'], inplace= True)
df_scouts['home_goal_x'].fillna(df_scouts['home_goal_y'], inplace= True)
df_scouts['visitor_goal_x'].fillna(df_scouts['visitor_goal_y'], inplace= True)
#df_scouts['home_x'].fillna(df_scouts['home_y'], inplace= True)
#df_scouts['visitor_x'].fillna(df_scouts['visitor_y'], inplace= True)
df_scouts['home_goal'] = df_scouts['home_goal_x']
df_scouts['visitor_goal'] = df_scouts['visitor_goal_x'] 
#df_scouts['home'] = df_scouts['home_x']
#df_scouts['visitor'] = df_scouts['visitor_x']
df_scouts = df_scouts[['player_name', 'points', 'id_position', 'id_club', 'has_played',\
       'id_player', 'scout_fc', 'scout_fs', 'scout_pi', 'scout_ff', 'scout_a',\
       'scout_ds', 'scout_de', 'scout_gs', 'scout_fd', 'scout_sg', 'scout_ca',\
       'scout_ft', 'scout_g', 'scout_pc', 'scout_ps', 'scout_pp', 'scout_i',\
       'scout_dp', 'scout_gc', 'scout_cv', 'round', 'visitor_id',\
       'home_id',\
       'home_goal',\
       'visitor_goal']]

In [63]:
df_scouts.head(10)

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,scout_pp,scout_i,scout_dp,scout_gc,scout_cv,round,visitor_id,home_id,home_goal,visitor_goal
0,Zaracho,0.0,4,282,True,100079,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,356.0,282.0,1.0,2.0
1,Igor Gomes,0.2,4,276,True,100084,0.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,266.0,276.0,0.0,0.0
2,Pedrinho,0.8,5,280,True,100103,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1,280.0,315.0,0.0,3.0
3,Yuri Alberto,-0.6,5,285,True,100652,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,292.0,285.0,2.0,2.0
4,Liziero,-0.3,4,276,True,100761,3.0,1.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,266.0,276.0,0.0,0.0
5,Gabriel Sara,-1.1,4,276,True,100763,1.0,0.0,6.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,266.0,276.0,0.0,0.0
6,Brenno,0.0,1,284,True,100830,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,284.0,354.0,3.0,2.0
7,Ruan,-0.2,3,284,True,100842,0.0,0.0,2.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,284.0,354.0,3.0,2.0
8,Lucas Araújo,0.0,4,265,True,100844,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,277.0,265.0,3.0,0.0
9,Luan Cândido,7.9,2,280,True,100848,2.0,1.0,8.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,280.0,315.0,0.0,3.0

In [64]:
df_scouts['CASA'] = df_scouts.apply(lambda row : is_home(row['home_id'], row['id_club']), axis = 1)

In [65]:
df_clube = df_club[['id', 'name']]
df_clube.columns = ['home_id', 'time_casa']

In [66]:
df_scouts = pd.merge(df_scouts, df_clube, how='left', on=['home_id'])

In [67]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,scout_dp,scout_gc,scout_cv,round,visitor_id,home_id,home_goal,visitor_goal,CASA,time_casa
0,Zaracho,0.0,4,282,True,100079,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1,356.0,282.0,1.0,2.0,1,Atlético-MG
1,Igor Gomes,0.2,4,276,True,100084,0.0,1.0,3.0,0.0,...,0.0,0.0,0.0,1,266.0,276.0,0.0,0.0,1,São Paulo
2,Pedrinho,0.8,5,280,True,100103,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1,280.0,315.0,0.0,3.0,0,Chapecoense
3,Yuri Alberto,-0.6,5,285,True,100652,2.0,1.0,1.0,0.0,...,0.0,0.0,0.0,1,292.0,285.0,2.0,2.0,1,Internacional
4,Liziero,-0.3,4,276,True,100761,3.0,1.0,3.0,0.0,...,0.0,0.0,0.0,1,266.0,276.0,0.0,0.0,1,São Paulo

In [68]:
df_clube.columns = ['visitor_id', 'time_visitante']
df_scouts = pd.merge(df_scouts, df_clube, how='left', on=['visitor_id'])

In [69]:
df_clube.columns = ['id_club', 'time']
df_scouts = pd.merge(df_scouts, df_clube, how='left', on=['id_club'])

In [70]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,scout_cv,round,visitor_id,home_id,home_goal,visitor_goal,CASA,time_casa,time_visitante,time
0,Zaracho,0.0,4,282,True,100079,1.0,1.0,0.0,0.0,...,0.0,1,356.0,282.0,1.0,2.0,1,Atlético-MG,Fortaleza,Atlético-MG
1,Igor Gomes,0.2,4,276,True,100084,0.0,1.0,3.0,0.0,...,0.0,1,266.0,276.0,0.0,0.0,1,São Paulo,Fluminense,São Paulo
2,Pedrinho,0.8,5,280,True,100103,0.0,0.0,0.0,1.0,...,0.0,1,280.0,315.0,0.0,3.0,0,Chapecoense,Bragantino,Bragantino
3,Yuri Alberto,-0.6,5,285,True,100652,2.0,1.0,1.0,0.0,...,0.0,1,292.0,285.0,2.0,2.0,1,Internacional,Sport,Internacional
4,Liziero,-0.3,4,276,True,100761,3.0,1.0,3.0,0.0,...,0.0,1,266.0,276.0,0.0,0.0,1,São Paulo,Fluminense,São Paulo

In [97]:
df_pontuacao_casa = df_scouts[df_scouts['CASA']==1].groupby(['id_player','time', 'player_name', 'id_club', 'id_position']).agg({'points':'sum', 'has_played':'sum'}).reset_index()
df_pontuacao_fora = df_scouts[df_scouts['CASA']==0].groupby(['id_player', 'player_name', 'id_club', 'id_position']).agg({'points':'sum', 'has_played':'sum'}).reset_index()

In [98]:
df_pontuacao_casa.columns=['id_player','time','player_name', 'id_club', 'id_position', 'points_casa', 'has_played_casa']
df_pontuacao_fora.columns=['id_player','player_name', 'id_club', 'id_position', 'points_fora', 'has_played_fora']

In [99]:
df_pontuacao = pd.merge(df_pontuacao_casa, df_pontuacao_fora, how='outer', on=['id_player','player_name','id_club','id_position'])

In [100]:
df_pontuacao.fillna(0, inplace=True)

In [101]:
df_pontuacao['total_pontos']=df_pontuacao['points_fora']+df_pontuacao['points_casa']
df_pontuacao['total_jogos']=df_pontuacao['has_played_casa']+df_pontuacao['has_played_fora']

In [102]:
df_pontuacao.head()

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
0,100002,Atlético-GO,Rickson,373,4,1.1,3.0,-0.2,1.0,0.9,4.0
1,100079,Atlético-MG,Zaracho,282,4,42.3,13.0,46.8,12.0,89.1,25.0
2,100084,São Paulo,Igor Gomes,276,4,19.0,10.0,21.9,13.0,40.9,23.0
3,100103,Bragantino,Pedrinho,280,5,11.5,8.0,11.0,6.0,22.5,14.0
4,100290,Santos,Lucas Venuto,277,5,0.5,1.0,0.0,0.0,0.5,1.0

In [109]:
df_pontuacao.sort_values(by='total_pontos', ascending=False).head(20)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
246,39148,Atlético-MG,Hulk,282,5,113.40,13.0,79.60,15.0,193.00,28.0
567,94509,Palmeiras,Raphael Veiga,275,4,101.00,15.0,80.40,13.0,181.40,28.0
631,99392,Flamengo,Michael,262,5,63.50,15.0,104.60,14.0,168.10,29.0
61,103099,Fortaleza,Éderson,356,4,83.90,14.0,70.20,16.0,154.10,30.0
401,80196,Fortaleza,Yago Pikachu,356,4,83.40,14.0,65.00,14.0,148.40,28.0
611,98034,Sport,Maílson,292,1,73.00,15.0,72.50,16.0,145.50,31.0
515,90285,Flamengo,Bruno Henrique,262,5,100.00,12.0,44.70,8.0,144.70,20.0
494,87999,Palmeiras,Gustavo Scarpa,275,4,94.00,15.0,50.10,13.0,144.10,28.0
584,95799,Bragantino,Artur,280,5,92.50,14.0,51.40,10.0,143.90,24.0
257,42411,Atlético-MG,Cuca,282,6,79.02,15.0,60.59,15.0,139.61,30.0
22,101314,América-MG,Ademir,327,5,77.50,11.0,61.60,13.0,139.10,24.0
291,63289,Internacional,Edenílson,285,4,92.00,12.0,45.80,15.0,137.80,27.0
271,53148,Bragantino,Ytalo,280,5,73.20,13.0,62.80,12.0,136.00,25.0
55,102878,Athlético-PR,Terans,293,4,74.00,12.0,61.30,12.0,135.30,24.0
332,71571,Atlético-GO,Fernando Miguel,373,1,60.00,14.0,74.50,14.0,134.50,28.0
6,100652,Internacional,Yuri Alberto,285,5,72.70,13.0,61.60,15.0,134.30,28.0
169,110506,Palmeiras,Abel Ferreira,275,6,70.08,16.0,61.47,15.0,131.55,31.0
345,72294,Atlético-MG,Everson,282,1,72.00,15.0,54.00,15.0,126.00,30.0
266,51413,Cuiabá,Walter,1371,1,33.00,10.0,91.50,15.0,124.50,25.0
436,82792,Bragantino,Maurício Barbieri,280,6,60.57,16.0,60.10,14.0,120.67,30.0

In [111]:
df_pontuacao[df_pontuacao['id_position']==5].sort_values(by='total_pontos', ascending=False).head(20)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
246,39148,Atlético-MG,Hulk,282,5,113.4,13.0,79.6,15.0,193.0,28.0
631,99392,Flamengo,Michael,262,5,63.5,15.0,104.6,14.0,168.1,29.0
515,90285,Flamengo,Bruno Henrique,262,5,100.0,12.0,44.7,8.0,144.7,20.0
584,95799,Bragantino,Artur,280,5,92.5,14.0,51.4,10.0,143.9,24.0
22,101314,América-MG,Ademir,327,5,77.5,11.0,61.6,13.0,139.1,24.0
271,53148,Bragantino,Ytalo,280,5,73.2,13.0,62.8,12.0,136.0,25.0
6,100652,Internacional,Yuri Alberto,285,5,72.7,13.0,61.6,15.0,134.3,28.0
279,61188,Bahia,Gilberto,265,5,52.1,13.0,64.2,15.0,116.3,28.0
303,68952,Santos,Marinho,277,5,69.9,10.0,44.8,11.0,114.7,21.0
454,84817,Fortaleza,Robson,356,5,63.4,15.0,42.0,14.0,105.4,29.0
569,94583,Flamengo,Pedro,262,5,46.2,10.0,52.6,11.0,98.8,21.0
54,102598,Bragantino,Helinho,280,5,43.9,15.0,53.1,12.0,97.0,27.0
156,109282,Fluminense,Luiz Henrique,266,5,51.4,12.0,44.5,13.0,95.9,25.0
440,83257,Flamengo,Gabriel,262,5,11.9,7.0,81.9,6.0,93.8,13.0
624,98909,Bragantino,Cuello,280,5,44.0,12.0,46.8,11.0,90.8,23.0
48,102299,Sport,Mikael,292,5,50.5,13.0,39.0,13.0,89.5,26.0
21,101290,Grêmio,Ferreira,284,5,38.8,10.0,50.6,10.0,89.4,20.0
185,111333,Juventude,Sorriso,286,5,51.0,16.0,34.5,13.0,85.5,29.0
272,60825,América-MG,Felipe Azevedo,327,5,43.7,16.0,41.4,14.0,85.1,30.0
377,78435,Flamengo,Vitinho,262,5,30.0,12.0,53.8,12.0,83.8,24.0

In [104]:
df_pontuacao[df_pontuacao['id_position']==2].sort_values(by='total_pontos', ascending=False).head(10)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
484,87228,Atlético-MG,Guilherme Arana,282,2,74.9,10.0,42.4,10.0,117.3,20.0
259,42500,Corinthians,Fagner,264,2,51.0,15.0,60.5,14.0,111.5,29.0
501,88423,Bragantino,Aderlan,280,2,47.8,12.0,61.4,11.0,109.2,23.0
35,101708,Santos,Felipe Jonatan,277,2,60.9,14.0,47.6,14.0,108.5,28.0
609,97899,Bahia,Matheus Bahia,265,2,57.5,11.0,42.4,11.0,99.9,22.0
243,38750,Flamengo,Filipe Luís,262,2,48.7,12.0,48.2,8.0,96.9,20.0
38,101727,Flamengo,Matheuzinho,262,2,46.0,10.0,50.4,13.0,96.4,23.0
142,107750,Grêmio,Vanderson,284,2,30.8,11.0,65.3,13.0,96.1,24.0
77,104257,Cuiabá,João Lucas,1371,2,40.6,11.0,55.5,14.0,96.1,25.0
295,68808,Bahia,Nino Paraíba,265,2,45.6,11.0,50.4,12.0,96.0,23.0

In [105]:
df_pontuacao[df_pontuacao['id_position']==3].sort_values(by='total_pontos', ascending=False).head(10)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
580,95638,Fortaleza,Marcelo Benevenuto,356,3,40.6,13.0,70.7,16.0,111.3,29.0
76,104250,Corinthians,João Victor,264,3,55.9,14.0,54.8,15.0,110.7,29.0
379,78478,Flamengo,Willian Arão,262,3,52.4,14.0,55.8,13.0,108.2,27.0
263,50353,Fortaleza,Titi,356,3,62.8,14.0,39.2,14.0,102.0,28.0
73,104075,Sport,Sabino,292,3,59.3,15.0,32.3,16.0,91.6,31.0
537,91708,Fluminense,Nino,266,3,38.5,10.0,50.3,11.0,88.8,21.0
583,95794,Atlético-MG,Nathan Silva,282,3,51.1,13.0,35.5,14.0,86.6,27.0
409,80692,Palmeiras,Luan,275,3,44.1,12.0,38.1,12.0,82.2,24.0
302,68923,Corinthians,Gil,264,3,39.6,15.0,39.7,15.0,79.3,30.0
498,88312,Atlético-MG,Junior Alonso,282,3,37.0,9.0,41.5,8.0,78.5,17.0

In [106]:
df_pontuacao[df_pontuacao['id_position']==6].sort_values(by='total_pontos', ascending=False).head(10)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
257,42411,Atlético-MG,Cuca,282,6,79.02,15.0,60.59,15.0,139.61,30.0
169,110506,Palmeiras,Abel Ferreira,275,6,70.08,16.0,61.47,15.0,131.55,31.0
436,82792,Bragantino,Maurício Barbieri,280,6,60.57,16.0,60.10,14.0,120.67,30.0
91,104754,Fortaleza,Juan Vojvoda,356,6,65.19,15.0,55.37,17.0,120.56,32.0
250,41929,Flamengo,Renato Gaúcho,262,6,54.62,10.0,63.58,11.0,118.20,21.0
114,106047,Corinthians,Sylvinho,264,6,56.47,15.0,53.56,16.0,110.03,31.0
362,73766,Internacional,Diego Aguirre,285,6,55.39,13.0,52.47,14.0,107.86,27.0
248,39850,América-MG,Vagner Mancini,327,6,43.63,11.0,33.25,9.0,76.88,20.0
318,70323,Cuiabá,Jorginho,1371,6,29.81,10.0,38.85,12.0,68.66,22.0
72,103912,São Paulo,Hernán Crespo,276,6,39.22,11.0,29.40,12.0,68.62,23.0

In [110]:
df_pontuacao.sort_values(by='points_casa', ascending=False).head(20)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
246,39148,Atlético-MG,Hulk,282,5,113.40,13.0,79.60,15.0,193.00,28.0
567,94509,Palmeiras,Raphael Veiga,275,4,101.00,15.0,80.40,13.0,181.40,28.0
515,90285,Flamengo,Bruno Henrique,262,5,100.00,12.0,44.70,8.0,144.70,20.0
494,87999,Palmeiras,Gustavo Scarpa,275,4,94.00,15.0,50.10,13.0,144.10,28.0
584,95799,Bragantino,Artur,280,5,92.50,14.0,51.40,10.0,143.90,24.0
291,63289,Internacional,Edenílson,285,4,92.00,12.0,45.80,15.0,137.80,27.0
61,103099,Fortaleza,Éderson,356,4,83.90,14.0,70.20,16.0,154.10,30.0
401,80196,Fortaleza,Yago Pikachu,356,4,83.40,14.0,65.00,14.0,148.40,28.0
257,42411,Atlético-MG,Cuca,282,6,79.02,15.0,60.59,15.0,139.61,30.0
22,101314,América-MG,Ademir,327,5,77.50,11.0,61.60,13.0,139.10,24.0
484,87228,Atlético-MG,Guilherme Arana,282,2,74.90,10.0,42.40,10.0,117.30,20.0
55,102878,Athlético-PR,Terans,293,4,74.00,12.0,61.30,12.0,135.30,24.0
271,53148,Bragantino,Ytalo,280,5,73.20,13.0,62.80,12.0,136.00,25.0
611,98034,Sport,Maílson,292,1,73.00,15.0,72.50,16.0,145.50,31.0
6,100652,Internacional,Yuri Alberto,285,5,72.70,13.0,61.60,15.0,134.30,28.0
345,72294,Atlético-MG,Everson,282,1,72.00,15.0,54.00,15.0,126.00,30.0
169,110506,Palmeiras,Abel Ferreira,275,6,70.08,16.0,61.47,15.0,131.55,31.0
303,68952,Santos,Marinho,277,5,69.90,10.0,44.80,11.0,114.70,21.0
456,85004,Fluminense,Marcos Felipe,266,1,69.50,14.0,34.00,13.0,103.50,27.0
342,72018,São Paulo,Tiago Volpi,276,1,67.50,15.0,41.00,15.0,108.50,30.0

In [108]:
df_pontuacao.sort_values(by='points_fora', ascending=False).head(10)

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
631,99392,Flamengo,Michael,262,5,63.5,15.0,104.6,14.0,168.1,29.0
266,51413,Cuiabá,Walter,1371,1,33.0,10.0,91.5,15.0,124.5,25.0
440,83257,Flamengo,Gabriel,262,5,11.9,7.0,81.9,6.0,93.8,13.0
567,94509,Palmeiras,Raphael Veiga,275,4,101.0,15.0,80.4,13.0,181.4,28.0
246,39148,Atlético-MG,Hulk,282,5,113.4,13.0,79.6,15.0,193.0,28.0
332,71571,Atlético-GO,Fernando Miguel,373,1,60.0,14.0,74.5,14.0,134.5,28.0
589,96468,Internacional,Daniel,285,1,35.0,11.0,73.0,12.0,108.0,23.0
611,98034,Sport,Maílson,292,1,73.0,15.0,72.5,16.0,145.5,31.0
580,95638,Fortaleza,Marcelo Benevenuto,356,3,40.6,13.0,70.7,16.0,111.3,29.0
61,103099,Fortaleza,Éderson,356,4,83.9,14.0,70.2,16.0,154.1,30.0