In [1]:
%run ./dataframes.ipynb

In [2]:
df_matches, df_scouts, df_pontuacao, df_clubs = prepara_dataframes()

Quantidade de linhas para clubes: [(20,)]
Quantidade de linhas para partidas: [(100,)]
Quantidade de linhas para scouts: [(3228,)]
{'Percentual de vitoria CASA': 0.4, 'Percentual de EMPATE': 0.34, 'Percentual de vitoria FORA': 0.26}

In [3]:
df_matches.head()

,match_id,round,home_id,id_club,date,timestamp,local,valid,home_goal,visitor_goal,year,diff_goals,vencedor,datetime
0,287509,1,266,277,2022-04-09 16:30:00,1649532600,Maracanã,True,0,0,2022,0,EMPATE,2022-04-09 16:30:00
1,287515,1,373,262,2022-04-09 19:00:00,1649541600,Antônio Accioly,True,1,1,2022,0,EMPATE,2022-04-09 19:00:00
2,287511,1,275,354,2022-04-09 21:00:00,1649548800,Allianz Parque,True,2,3,2022,-1,VISITANTE,2022-04-09 21:00:00
3,287517,1,294,290,2022-04-10 11:00:00,1649599200,Couto Pereira,True,3,0,2022,3,CASA,2022-04-10 11:00:00
4,287508,1,282,285,2022-04-10 16:00:00,1649617200,Mineirão,True,2,0,2022,2,CASA,2022-04-10 16:00:00

In [4]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,round,visitor_id,home_id,home_goal,visitor_goal,CASA,time_casa,time_visitante,time,adversario
0,Rickson,1.2,4,373,True,100002,0.0,0.0,0.0,0.0,...,1,262.0,373.0,1.0,1.0,1,Atlético-GO,Flamengo,Atlético-GO,Flamengo
1,Jhojan Julio,5.2,5,277,True,100074,4.0,4.0,2.0,0.0,...,1,277.0,266.0,0.0,0.0,0,Fluminense,Santos,Santos,Fluminense
2,Zaracho,8.1,4,282,True,100079,1.0,0.0,2.0,0.0,...,1,285.0,282.0,2.0,0.0,1,Atlético-MG,Internacional,Atlético-MG,Internacional
3,Igor Gomes,3.2,4,276,True,100084,2.0,0.0,6.0,1.0,...,1,293.0,276.0,4.0,0.0,1,São Paulo,Athlético-PR,São Paulo,Athlético-PR
4,Pedrinho,1.5,5,327,True,100103,2.0,0.0,5.0,0.0,...,1,327.0,314.0,1.0,0.0,0,Avaí,América-MG,América-MG,Avaí

In [5]:
df_pontuacao.head()

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
0,100002,Atlético-GO,Rickson,373,4,1.1,2.0,-0.8,1.0,0.3,3.0
1,100074,Santos,Jhojan Julio,277,5,9.8,5.0,12.5,4.0,22.3,9.0
2,100079,Atlético-MG,Zaracho,282,4,13.7,3.0,14.2,2.0,27.9,5.0
3,100084,São Paulo,Igor Gomes,276,4,0.5,4.0,15.3,5.0,15.8,9.0
4,100103,América-MG,Pedrinho,327,5,9.2,2.0,3.7,5.0,12.9,7.0