In [1]:
%run ./dataframes.ipynb

In [2]:
GOLEIRO = 1
ZAGUEIRO = 2
LATERAL = 3
MEIA = 4
ATACANTE = 5

In [3]:
df_matches, df_scouts, df_pontuacao, df_clubs, df_mandante_x_visitante, df_mandante_x_visitante_cedidos_mais_conquistados, df_visitante_x_mandante, df_visitante_x_mandante_cedidos_mais_conquistados, df_conquistados, df_cedidos, df_club_matches = prepara_dataframes()

Quantidade de linhas para clubes: [(20,)]
Quantidade de linhas para partidas: [(240,)]
Quantidade de linhas para scouts: [(7828,)]

        "Percentual de vitoria CASA:" 0.44166666666666665,
        "Percentual de EMPATE:" 0.3,
        "Percentual de vitoria FORA:" 0.25833333333333336

None

In [87]:
df_matches.head()

,match_id,round,home_id,visitor_id,date,timestamp,local,valid,home_goal,visitor_goal,year,diff_goals,vencedor,datetime
0,287509,1,266,277,2022-04-09 16:30:00,1649532600,Maracanã,True,0,0,2022,0,EMPATE,2022-04-09 16:30:00
1,287515,1,373,262,2022-04-09 19:00:00,1649541600,Antônio Accioly,True,1,1,2022,0,EMPATE,2022-04-09 19:00:00
2,287511,1,275,354,2022-04-09 21:00:00,1649548800,Allianz Parque,True,2,3,2022,-1,VISITANTE,2022-04-09 21:00:00
3,287517,1,294,290,2022-04-10 11:00:00,1649599200,Couto Pereira,True,3,0,2022,3,CASA,2022-04-10 11:00:00
4,287508,1,282,285,2022-04-10 16:00:00,1649617200,Mineirão,True,2,0,2022,2,CASA,2022-04-10 16:00:00

In [5]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,round,visitor_id,home_id,home_goal,visitor_goal,CASA,time_casa,time_visitante,time,adversario
0,Rickson,1.2,4,373,True,100002,0.0,0.0,0.0,0.0,...,1,262.0,373.0,1.0,1.0,1,Atlético-GO,Flamengo,Atlético-GO,Flamengo
1,Jhojan Julio,5.2,5,277,True,100074,4.0,4.0,2.0,0.0,...,1,277.0,266.0,0.0,0.0,0,Fluminense,Santos,Santos,Fluminense
2,Zaracho,8.1,4,282,True,100079,1.0,0.0,2.0,0.0,...,1,285.0,282.0,2.0,0.0,1,Atlético-MG,Internacional,Atlético-MG,Internacional
3,Igor Gomes,3.2,4,276,True,100084,2.0,0.0,6.0,1.0,...,1,293.0,276.0,4.0,0.0,1,São Paulo,Athlético-PR,São Paulo,Athlético-PR
4,Pedrinho,1.5,5,327,True,100103,2.0,0.0,5.0,0.0,...,1,327.0,314.0,1.0,0.0,0,Avaí,América-MG,América-MG,Avaí

In [6]:
df_pontuacao.head()

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
0,100002,Atlético-GO,Rickson,373,4,1.0,4.0,0.5,4.0,1.5,8.0
1,100074,Santos,Jhojan Julio,277,5,12.7,6.0,12.5,4.0,25.2,10.0
2,100079,Atlético-MG,Zaracho,282,4,31.1,6.0,52.4,6.0,83.5,12.0
3,100084,São Paulo,Igor Gomes,276,4,9.1,10.0,24.4,11.0,33.5,21.0
4,100103,América-MG,Pedrinho,327,5,34.4,8.0,20.8,10.0,55.2,18.0

In [7]:
df_mandante_x_visitante.head()

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
0,Juventude,1,79.0,Avaí,73.5,152.5
1,Juventude,2,195.4,Avaí,221.3,416.7
2,Juventude,3,126.4,Avaí,160.8,287.2
3,Juventude,4,186.0,Avaí,340.0,526.0
4,Juventude,5,215.2,Avaí,397.4,612.6

In [8]:
df_mandante_x_visitante_cedidos_mais_conquistados.head()

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
0,Juventude,1,79.0,Avaí,73.5,152.5
1,Juventude,2,195.4,Avaí,221.3,416.7
2,Juventude,3,126.4,Avaí,160.8,287.2
3,Juventude,4,186.0,Avaí,340.0,526.0
4,Juventude,5,215.2,Avaí,397.4,612.6

In [9]:
df_visitante_x_mandante.head()

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Avaí,1,51.7,Juventude,107.0,158.7
1,Avaí,2,120.0,Juventude,232.4,352.4
2,Avaí,3,86.2,Juventude,209.7,295.9
3,Avaí,4,272.7,Juventude,419.5,692.2
4,Avaí,5,310.0,Juventude,418.5,728.5

In [10]:
df_visitante_x_mandante_cedidos_mais_conquistados.head()

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Avaí,1,51.7,Juventude,107.0,158.7
1,Avaí,2,120.0,Juventude,232.4,352.4
2,Avaí,3,86.2,Juventude,209.7,295.9
3,Avaí,4,272.7,Juventude,419.5,692.2
4,Avaí,5,310.0,Juventude,418.5,728.5

# Pontuação por times e adversarios

In [11]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
36,Fortaleza,1,98.0,Botafogo,115.5,213.5
30,Corinthians,1,111.7,Internacional,76.4,188.1
12,Athlético-PR,1,115.2,Fluminense,69.4,184.6
24,Flamengo,1,80.4,Ceará,103.0,183.4
48,Cuiabá,1,92.1,São Paulo,89.7,181.8
54,Santos,1,118.7,Goiás,60.5,179.2
18,América-MG,1,101.2,Coritiba,74.0,175.2
6,Bragantino,1,76.5,Palmeiras,83.2,159.7
42,Atlético-GO,1,78.2,Atlético-MG,80.4,158.6
0,Juventude,1,79.0,Avaí,73.5,152.5

In [12]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
6,Palmeiras,1,120.5,Bragantino,97.7,218.2
18,Coritiba,1,70.2,América-MG,130.7,200.9
54,Goiás,1,104.7,Santos,91.7,196.4
12,Fluminense,1,76.5,Athlético-PR,99.2,175.7
24,Ceará,1,91.7,Flamengo,82.0,173.7
36,Botafogo,1,74.5,Fortaleza,97.0,171.5
42,Atlético-MG,1,77.0,Atlético-GO,93.9,170.9
48,São Paulo,1,68.5,Cuiabá,100.7,169.2
0,Avaí,1,51.7,Juventude,107.0,158.7
30,Internacional,1,97.2,Corinthians,58.0,155.2

In [13]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
37,Fortaleza,2,219.5,Botafogo,255.7,475.2
25,Flamengo,2,246.3,Ceará,202.8,449.1
13,Athlético-PR,2,240.4,Fluminense,193.8,434.2
31,Corinthians,2,288.9,Internacional,137.8,426.7
19,América-MG,2,200.5,Coritiba,216.3,416.8
1,Juventude,2,195.4,Avaí,221.3,416.7
55,Santos,2,174.2,Goiás,233.8,408.0
43,Atlético-GO,2,131.3,Atlético-MG,234.3,365.6
49,Cuiabá,2,143.0,São Paulo,196.9,339.9
7,Bragantino,2,229.8,Palmeiras,83.7,313.5

In [14]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
7,Palmeiras,2,317.3,Bragantino,202.1,519.4
19,Coritiba,2,223.8,América-MG,272.6,496.4
49,São Paulo,2,250.5,Cuiabá,238.8,489.3
43,Atlético-MG,2,200.0,Atlético-GO,206.5,406.5
31,Internacional,2,236.3,Corinthians,159.9,396.2
13,Fluminense,2,175.6,Athlético-PR,219.1,394.7
37,Botafogo,2,207.4,Fortaleza,181.8,389.2
25,Ceará,2,188.6,Flamengo,172.7,361.3
1,Avaí,2,120.0,Juventude,232.4,352.4
55,Goiás,2,107.6,Santos,234.1,341.7

In [15]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
38,Fortaleza,3,234.2,Botafogo,196.2,430.4
32,Corinthians,3,253.9,Internacional,142.3,396.2
50,Cuiabá,3,190.5,São Paulo,186.4,376.9
14,Athlético-PR,3,186.0,Fluminense,178.2,364.2
56,Santos,3,206.3,Goiás,157.1,363.4
20,América-MG,3,173.6,Coritiba,161.9,335.5
26,Flamengo,3,155.2,Ceará,167.0,322.2
2,Juventude,3,126.4,Avaí,160.8,287.2
8,Bragantino,3,165.3,Palmeiras,120.0,285.3
44,Atlético-GO,3,35.9,Atlético-MG,166.0,201.9

In [16]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
8,Palmeiras,3,281.3,Bragantino,151.9,433.2
44,Atlético-MG,3,198.0,Atlético-GO,209.5,407.5
14,Fluminense,3,209.1,Athlético-PR,187.2,396.3
56,Goiás,3,193.3,Santos,194.4,387.7
50,São Paulo,3,159.4,Cuiabá,201.4,360.8
20,Coritiba,3,134.6,América-MG,212.6,347.2
32,Internacional,3,191.0,Corinthians,146.7,337.7
38,Botafogo,3,162.0,Fortaleza,170.6,332.6
2,Avaí,3,86.2,Juventude,209.7,295.9
26,Ceará,3,119.4,Flamengo,141.7,261.1

In [17]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
27,Flamengo,4,533.1,Ceará,277.7,810.8
45,Atlético-GO,4,403.0,Atlético-MG,300.4,703.4
33,Corinthians,4,409.9,Internacional,290.6,700.5
39,Fortaleza,4,296.6,Botafogo,389.3,685.9
15,Athlético-PR,4,326.5,Fluminense,325.6,652.1
51,Cuiabá,4,281.4,São Paulo,359.1,640.5
57,Santos,4,267.7,Goiás,369.7,637.4
9,Bragantino,4,309.2,Palmeiras,252.8,562.0
21,América-MG,4,225.4,Coritiba,316.8,542.2
3,Juventude,4,186.0,Avaí,340.0,526.0

In [18]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
45,Atlético-MG,4,428.3,Atlético-GO,405.8,834.1
9,Palmeiras,4,457.2,Bragantino,323.2,780.4
33,Internacional,4,381.9,Corinthians,353.4,735.3
3,Avaí,4,272.7,Juventude,419.5,692.2
15,Fluminense,4,349.9,Athlético-PR,336.6,686.5
21,Coritiba,4,240.3,América-MG,375.0,615.3
51,São Paulo,4,331.3,Cuiabá,260.1,591.4
39,Botafogo,4,285.1,Fortaleza,306.1,591.2
57,Goiás,4,279.6,Santos,239.1,518.7
27,Ceará,4,246.2,Flamengo,270.5,516.7

In [19]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
58,Santos,5,392.9,Goiás,340.6,733.5
22,América-MG,5,291.1,Coritiba,370.2,661.3
28,Flamengo,5,331.6,Ceará,322.0,653.6
16,Athlético-PR,5,301.9,Fluminense,316.8,618.7
4,Juventude,5,215.2,Avaí,397.4,612.6
40,Fortaleza,5,254.5,Botafogo,312.4,566.9
10,Bragantino,5,353.8,Palmeiras,181.3,535.1
52,Cuiabá,5,187.6,São Paulo,329.6,517.2
46,Atlético-GO,5,258.9,Atlético-MG,252.0,510.9
34,Corinthians,5,153.9,Internacional,268.4,422.3

In [20]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
16,Fluminense,5,414.8,Athlético-PR,365.0,779.8
22,Coritiba,5,443.4,América-MG,326.5,769.9
4,Avaí,5,310.0,Juventude,418.5,728.5
46,Atlético-MG,5,404.5,Atlético-GO,312.1,716.6
10,Palmeiras,5,359.6,Bragantino,280.6,640.2
34,Internacional,5,346.2,Corinthians,278.6,624.8
58,Goiás,5,319.6,Santos,285.6,605.2
52,São Paulo,5,277.5,Cuiabá,305.5,583.0
40,Botafogo,5,286.3,Fortaleza,265.5,551.8
28,Ceará,5,266.5,Flamengo,241.2,507.7

# Pontuação conquistada x Pontuação cedida (casa x fora)

In [21]:
df_conquistados.head()

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
0,Juventude,1,38.0,Avaí,53.0,91.0
1,Juventude,2,110.8,Avaí,152.5,263.3
2,Juventude,3,79.6,Avaí,96.1,175.7
3,Juventude,4,99.6,Avaí,209.2,308.8
4,Juventude,5,119.6,Avaí,243.2,362.8

In [22]:
df_cedidos.head()

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Avaí,1,26.7,Juventude,49.0,75.7
1,Avaí,2,52.2,Juventude,101.4,153.6
2,Avaí,3,46.7,Juventude,98.1,144.8
3,Avaí,4,109.4,Juventude,165.1,274.5
4,Avaí,5,119.3,Juventude,171.4,290.7

In [23]:
df_conquistados[
    (df_conquistados['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
30,Corinthians,1,82.0,Internacional,51.4,133.4
54,Santos,1,71.2,Goiás,45.5,116.7
36,Fortaleza,1,56.5,Botafogo,55.5,112.0
48,Cuiabá,1,50.7,São Paulo,46.7,97.4
24,Flamengo,1,45.0,Ceará,50.5,95.5
0,Juventude,1,38.0,Avaí,53.0,91.0
18,América-MG,1,48.7,Coritiba,37.0,85.7
12,Athlético-PR,1,53.0,Fluminense,31.0,84.0
6,Bragantino,1,44.5,Palmeiras,35.2,79.7
42,Atlético-GO,1,33.0,Atlético-MG,42.5,75.5

In [24]:
df_cedidos[
    (df_cedidos['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
6,Palmeiras,1,67.0,Bragantino,52.2,119.2
36,Botafogo,1,38.5,Fortaleza,65.5,104.0
42,Atlético-MG,1,45.5,Atlético-GO,50.7,96.2
54,Goiás,1,54.5,Santos,38.7,93.2
24,Ceará,1,60.2,Flamengo,31.5,91.7
48,São Paulo,1,29.5,Cuiabá,57.7,87.2
12,Fluminense,1,37.5,Athlético-PR,45.7,83.2
0,Avaí,1,26.7,Juventude,49.0,75.7
30,Internacional,1,47.0,Corinthians,28.0,75.0
18,Coritiba,1,14.5,América-MG,53.0,67.5

In [25]:
df_conquistados[
    (df_conquistados['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
25,Flamengo,2,183.4,Ceará,97.5,280.9
31,Corinthians,2,201.7,Internacional,72.5,274.2
55,Santos,2,102.9,Goiás,163.9,266.8
1,Juventude,2,110.8,Avaí,152.5,263.3
37,Fortaleza,2,113.7,Botafogo,143.2,256.9
13,Athlético-PR,2,114.8,Fluminense,98.0,212.8
49,Cuiabá,2,96.0,São Paulo,116.7,212.7
19,América-MG,2,110.3,Coritiba,91.8,202.1
43,Atlético-GO,2,64.9,Atlético-MG,108.7,173.6
7,Bragantino,2,117.8,Palmeiras,23.6,141.4

In [26]:
df_cedidos[
    (df_cedidos['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
7,Palmeiras,2,153.9,Bragantino,90.9,244.8
43,Atlético-MG,2,107.3,Atlético-GO,113.2,220.5
37,Botafogo,2,104.4,Fortaleza,95.1,199.5
49,São Paulo,2,99.4,Cuiabá,94.3,193.7
19,Coritiba,2,62.9,América-MG,108.2,171.1
31,Internacional,2,108.0,Corinthians,62.3,170.3
1,Avaí,2,52.2,Juventude,101.4,153.6
25,Ceará,2,102.7,Flamengo,40.6,143.3
55,Goiás,2,50.7,Santos,87.0,137.7
13,Fluminense,2,63.3,Athlético-PR,56.8,120.1

In [27]:
df_conquistados[
    (df_conquistados['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
32,Corinthians,3,153.0,Internacional,94.2,247.2
56,Santos,3,126.7,Goiás,114.4,241.1
38,Fortaleza,3,118.4,Botafogo,99.5,217.9
26,Flamengo,3,106.8,Ceará,92.1,198.9
20,América-MG,3,96.5,Coritiba,95.9,192.4
50,Cuiabá,3,99.8,São Paulo,83.5,183.3
2,Juventude,3,79.6,Avaí,96.1,175.7
8,Bragantino,3,116.4,Palmeiras,52.4,168.8
14,Athlético-PR,3,80.5,Fluminense,82.1,162.6
44,Atlético-GO,3,15.1,Atlético-MG,79.7,94.8

In [28]:
df_cedidos[
    (df_cedidos['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
8,Palmeiras,3,131.7,Bragantino,81.6,213.3
56,Goiás,3,94.0,Santos,75.4,169.4
44,Atlético-MG,3,77.9,Atlético-GO,88.3,166.2
32,Internacional,3,99.1,Corinthians,65.4,164.5
38,Botafogo,3,70.3,Fortaleza,90.3,160.6
2,Avaí,3,46.7,Juventude,98.1,144.8
50,São Paulo,3,50.5,Cuiabá,90.9,141.4
14,Fluminense,3,93.6,Athlético-PR,41.3,134.9
20,Coritiba,3,36.1,América-MG,92.1,128.2
26,Ceará,3,69.5,Flamengo,34.5,104.0

In [29]:
df_conquistados[
    (df_conquistados['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
27,Flamengo,4,287.5,Ceará,104.6,392.1
45,Atlético-GO,4,231.2,Atlético-MG,160.9,392.1
33,Corinthians,4,221.5,Internacional,167.4,388.9
39,Fortaleza,4,175.3,Botafogo,211.4,386.7
51,Cuiabá,4,146.1,São Paulo,219.5,365.6
57,Santos,4,150.0,Goiás,214.4,364.4
15,Athlético-PR,4,183.3,Fluminense,156.6,339.9
3,Juventude,4,99.6,Avaí,209.2,308.8
21,América-MG,4,132.5,Coritiba,167.9,300.4
9,Bragantino,4,165.1,Palmeiras,125.1,290.2

In [30]:
df_cedidos[
    (df_cedidos['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
45,Atlético-MG,4,193.2,Atlético-GO,133.5,326.7
15,Fluminense,4,149.2,Athlético-PR,163.3,312.5
33,Internacional,4,153.8,Corinthians,140.2,294.0
9,Palmeiras,4,169.9,Bragantino,118.4,288.3
3,Avaí,4,109.4,Juventude,165.1,274.5
51,São Paulo,4,153.1,Cuiabá,113.4,266.5
39,Botafogo,4,134.7,Fortaleza,129.7,264.4
57,Goiás,4,120.6,Santos,129.1,249.7
21,Coritiba,4,86.6,América-MG,157.7,244.3
27,Ceará,4,120.9,Flamengo,102.7,223.6

In [31]:
df_conquistados[
    (df_conquistados['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
58,Santos,5,258.5,Goiás,169.5,428.0
22,América-MG,5,186.9,Coritiba,233.4,420.3
4,Juventude,5,119.6,Avaí,243.2,362.8
28,Flamengo,5,192.0,Ceará,138.1,330.1
16,Athlético-PR,5,144.9,Fluminense,179.7,324.6
40,Fortaleza,5,93.3,Botafogo,191.2,284.5
52,Cuiabá,5,104.4,São Paulo,155.2,259.6
10,Bragantino,5,185.4,Palmeiras,70.0,255.4
46,Atlético-GO,5,134.0,Atlético-MG,115.5,249.5
34,Corinthians,5,95.2,Internacional,139.9,235.1

In [32]:
df_cedidos[
    (df_cedidos['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
22,Coritiba,5,172.5,América-MG,178.8,351.3
46,Atlético-MG,5,178.8,Atlético-GO,127.6,306.4
58,Goiás,5,159.1,Santos,135.6,294.7
4,Avaí,5,119.3,Juventude,171.4,290.7
10,Palmeiras,5,177.6,Bragantino,103.5,281.1
40,Botafogo,5,164.5,Fortaleza,105.4,269.9
34,Internacional,5,136.9,Corinthians,107.1,244.0
16,Fluminense,5,109.4,Athlético-PR,120.2,229.6
52,São Paulo,5,109.3,Cuiabá,118.3,227.6
28,Ceará,5,143.4,Flamengo,75.1,218.5