In [1]:
%run ./dataframes.ipynb

In [2]:
GOLEIRO = 1
ZAGUEIRO = 2
LATERAL = 3
MEIA = 4
ATACANTE = 5

In [4]:
df_matches, df_scouts, df_pontuacao, df_clubs, df_mandante_x_visitante, df_mandante_x_visitante_cedidos_mais_conquistados, df_visitante_x_mandante, df_visitante_x_mandante_cedidos_mais_conquistados, df_conquistados, df_cedidos = prepara_dataframes()

Quantidade de linhas para clubes: [(20,)]
Quantidade de linhas para partidas: [(140,)]
Quantidade de linhas para scouts: [(4502,)]

        "Percentual de vitoria CASA:" 0.4142857142857143,
        "Percentual de EMPATE:" 0.3357142857142857,
        "Percentual de vitoria FORA:" 0.25

None

In [5]:
df_matches.head()

,match_id,round,home_id,id_club,date,timestamp,local,valid,home_goal,visitor_goal,year,diff_goals,vencedor,datetime
0,287509,1,266,277,2022-04-09 16:30:00,1649532600,Maracanã,True,0,0,2022,0,EMPATE,2022-04-09 16:30:00
1,287515,1,373,262,2022-04-09 19:00:00,1649541600,Antônio Accioly,True,1,1,2022,0,EMPATE,2022-04-09 19:00:00
2,287511,1,275,354,2022-04-09 21:00:00,1649548800,Allianz Parque,True,2,3,2022,-1,VISITANTE,2022-04-09 21:00:00
3,287517,1,294,290,2022-04-10 11:00:00,1649599200,Couto Pereira,True,3,0,2022,3,CASA,2022-04-10 11:00:00
4,287508,1,282,285,2022-04-10 16:00:00,1649617200,Mineirão,True,2,0,2022,2,CASA,2022-04-10 16:00:00

In [6]:
df_scouts.head()

,player_name,points,id_position,id_club,has_played,id_player,scout_fc,scout_fs,scout_pi,scout_ff,...,round,visitor_id,home_id,home_goal,visitor_goal,CASA,time_casa,time_visitante,time,adversario
0,Rickson,1.2,4,373,True,100002,0.0,0.0,0.0,0.0,...,1,262.0,373.0,1.0,1.0,1,Atlético-GO,Flamengo,Atlético-GO,Flamengo
1,Jhojan Julio,5.2,5,277,True,100074,4.0,4.0,2.0,0.0,...,1,277.0,266.0,0.0,0.0,0,Fluminense,Santos,Santos,Fluminense
2,Zaracho,8.1,4,282,True,100079,1.0,0.0,2.0,0.0,...,1,285.0,282.0,2.0,0.0,1,Atlético-MG,Internacional,Atlético-MG,Internacional
3,Igor Gomes,3.2,4,276,True,100084,2.0,0.0,6.0,1.0,...,1,293.0,276.0,4.0,0.0,1,São Paulo,Athlético-PR,São Paulo,Athlético-PR
4,Pedrinho,1.5,5,327,True,100103,2.0,0.0,5.0,0.0,...,1,327.0,314.0,1.0,0.0,0,Avaí,América-MG,América-MG,Avaí

In [7]:
df_pontuacao.head()

,id_player,time,player_name,id_club,id_position,points_casa,has_played_casa,points_fora,has_played_fora,total_pontos,total_jogos
0,100002,Atlético-GO,Rickson,373,4,1.1,3.0,0.1,3.0,1.2,6.0
1,100074,Santos,Jhojan Julio,277,5,12.7,6.0,12.5,4.0,25.2,10.0
2,100079,Atlético-MG,Zaracho,282,4,13.7,3.0,14.2,2.0,27.9,5.0
3,100084,São Paulo,Igor Gomes,276,4,5.4,6.0,16.9,6.0,22.3,12.0
4,100103,América-MG,Pedrinho,327,5,13.3,3.0,7.7,7.0,21.0,10.0

In [8]:
df_mandante_x_visitante.head()

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
0,Fluminense,1,61.0,Corinthians,28.0,89.0
1,Fluminense,2,116.5,Corinthians,78.3,194.8
2,Fluminense,3,123.6,Corinthians,57.8,181.4
3,Fluminense,4,162.0,Corinthians,212.4,374.4
4,Fluminense,5,222.1,Corinthians,154.8,376.9

In [9]:
df_mandante_x_visitante_cedidos_mais_conquistados.head()

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
0,Fluminense,1,61.0,Corinthians,28.0,89.0
1,Fluminense,2,116.5,Corinthians,78.3,194.8
2,Fluminense,3,123.6,Corinthians,57.8,181.4
3,Fluminense,4,162.0,Corinthians,212.4,374.4
4,Fluminense,5,222.1,Corinthians,154.8,376.9

In [10]:
df_visitante_x_mandante.head()

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Corinthians,1,73.2,Fluminense,53.2,126.4
1,Corinthians,2,195.8,Fluminense,120.7,316.5
2,Corinthians,3,153.9,Fluminense,112.1,266.0
3,Corinthians,4,277.4,Fluminense,193.5,470.9
4,Corinthians,5,79.1,Fluminense,193.0,272.1

In [11]:
df_visitante_x_mandante_cedidos_mais_conquistados.head()

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Corinthians,1,73.2,Fluminense,53.2,126.4
1,Corinthians,2,195.8,Fluminense,120.7,316.5
2,Corinthians,3,153.9,Fluminense,112.1,266.0
3,Corinthians,4,277.4,Fluminense,193.5,470.9
4,Corinthians,5,79.1,Fluminense,193.0,272.1

# Pontuação por times e adversarios

In [12]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
24,Palmeiras,1,65.5,Athlético-PR,48.7,114.2
12,Santos,1,54.2,Flamengo,56.5,110.7
48,Coritiba,1,39.7,Fortaleza,59.5,99.2
54,Bragantino,1,45.0,Botafogo,50.5,95.5
36,Atlético-GO,1,48.7,São Paulo,45.7,94.4
18,Ceará,1,49.7,Internacional,40.4,90.1
0,Fluminense,1,61.0,Corinthians,28.0,89.0
30,Avaí,1,31.7,Cuiabá,46.2,77.9
42,América-MG,1,46.0,Goiás,28.5,74.5
6,Juventude,1,37.5,Atlético-MG,31.4,68.9

In [13]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
42,Goiás,1,58.7,América-MG,79.0,137.7
0,Corinthians,1,73.2,Fluminense,53.2,126.4
24,Athlético-PR,1,65.2,Palmeiras,34.0,99.2
18,Internacional,1,40.0,Ceará,58.0,98.0
6,Atlético-MG,1,45.0,Juventude,52.5,97.5
30,Cuiabá,1,57.4,Avaí,39.5,96.9
36,São Paulo,1,41.5,Atlético-GO,54.9,96.4
12,Flamengo,1,30.4,Santos,51.2,81.6
48,Fortaleza,1,26.0,Coritiba,53.0,79.0
54,Botafogo,1,34.0,Bragantino,39.7,73.7

In [14]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
25,Palmeiras,2,172.2,Athlético-PR,104.7,276.9
49,Coritiba,2,134.3,Fortaleza,129.3,263.6
43,América-MG,2,109.1,Goiás,152.2,261.3
55,Bragantino,2,118.3,Botafogo,126.0,244.3
31,Avaí,2,69.8,Cuiabá,135.2,205.0
7,Juventude,2,93.7,Atlético-MG,107.0,200.7
1,Fluminense,2,116.5,Corinthians,78.3,194.8
13,Santos,2,84.1,Flamengo,99.1,183.2
19,Ceará,2,129.3,Internacional,50.9,180.2
37,Atlético-GO,2,84.4,São Paulo,89.6,174.0

In [15]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
1,Corinthians,2,195.8,Fluminense,120.7,316.5
13,Flamengo,2,124.0,Santos,133.0,257.0
55,Botafogo,2,135.4,Bragantino,99.8,235.2
7,Atlético-MG,2,119.6,Juventude,115.1,234.7
37,São Paulo,2,128.0,Atlético-GO,106.3,234.3
19,Internacional,2,105.5,Ceará,111.2,216.7
43,Goiás,2,41.6,América-MG,168.6,210.2
49,Fortaleza,2,68.2,Coritiba,131.1,199.3
25,Athlético-PR,2,139.1,Palmeiras,46.5,185.6
31,Cuiabá,2,56.5,Avaí,120.8,177.3

In [16]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
26,Palmeiras,3,180.9,Athlético-PR,98.2,279.1
56,Bragantino,3,111.7,Botafogo,81.1,192.8
14,Santos,3,106.3,Flamengo,85.5,191.8
50,Coritiba,3,72.4,Fortaleza,114.2,186.6
2,Fluminense,3,123.6,Corinthians,57.8,181.4
8,Juventude,3,87.2,Atlético-MG,91.1,178.3
32,Avaí,3,57.4,Cuiabá,110.4,167.8
44,América-MG,3,81.8,Goiás,85.5,167.3
20,Ceará,3,79.1,Internacional,87.0,166.1
38,Atlético-GO,3,31.5,São Paulo,85.8,117.3

In [17]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
2,Corinthians,3,153.9,Fluminense,112.1,266.0
44,Goiás,3,100.7,América-MG,147.3,248.0
8,Atlético-MG,3,116.4,Juventude,109.6,226.0
14,Flamengo,3,69.8,Santos,126.3,196.1
38,São Paulo,3,85.9,Atlético-GO,99.2,185.1
20,Internacional,3,89.4,Ceará,90.4,179.8
32,Cuiabá,3,71.0,Avaí,105.2,176.2
50,Fortaleza,3,90.6,Coritiba,80.0,170.6
26,Athlético-PR,3,111.9,Palmeiras,52.6,164.5
56,Botafogo,3,80.2,Bragantino,82.4,162.6

In [18]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
27,Palmeiras,4,281.4,Athlético-PR,205.6,487.0
39,Atlético-GO,4,259.9,São Paulo,195.5,455.4
57,Bragantino,4,181.1,Botafogo,237.0,418.1
3,Fluminense,4,162.0,Corinthians,212.4,374.4
51,Coritiba,4,148.7,Fortaleza,185.6,334.3
33,Avaí,4,153.4,Cuiabá,169.2,322.6
45,América-MG,4,123.4,Goiás,198.7,322.1
21,Ceará,4,142.2,Internacional,160.8,303.0
15,Santos,4,138.7,Flamengo,163.8,302.5
9,Juventude,4,125.7,Atlético-MG,168.4,294.1

In [19]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
9,Atlético-MG,4,239.9,Juventude,249.0,488.9
3,Corinthians,4,277.4,Fluminense,193.5,470.9
39,São Paulo,4,196.0,Atlético-GO,228.1,424.1
15,Flamengo,4,293.5,Santos,125.2,418.7
45,Goiás,4,170.7,América-MG,247.9,418.6
21,Internacional,4,217.9,Ceará,176.6,394.5
57,Botafogo,4,175.6,Bragantino,200.1,375.7
33,Cuiabá,4,150.7,Avaí,197.5,348.2
51,Fortaleza,4,189.3,Coritiba,156.5,345.8
27,Athlético-PR,4,193.4,Palmeiras,149.5,342.9

In [20]:
df_mandante_x_visitante_cedidos_mais_conquistados[
    (df_mandante_x_visitante_cedidos_mais_conquistados['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
34,Avaí,5,231.4,Cuiabá,205.5,436.9
28,Palmeiras,5,234.1,Athlético-PR,198.5,432.6
52,Coritiba,5,268.4,Fortaleza,156.9,425.3
16,Santos,5,258.1,Flamengo,166.3,424.4
4,Fluminense,5,222.1,Corinthians,154.8,376.9
46,América-MG,5,155.4,Goiás,217.6,373.0
58,Bragantino,5,175.5,Botafogo,173.7,349.2
22,Ceará,5,163.1,Internacional,180.4,343.5
40,Atlético-GO,5,145.3,São Paulo,178.1,323.4
10,Juventude,5,120.7,Atlético-MG,143.0,263.7

In [21]:
df_visitante_x_mandante_cedidos_mais_conquistados[
    (df_visitante_x_mandante_cedidos_mais_conquistados['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
10,Atlético-MG,5,258.9,Juventude,193.9,452.8
58,Botafogo,5,184.2,Bragantino,178.1,362.3
40,São Paulo,5,193.3,Atlético-GO,161.7,355.0
34,Cuiabá,5,122.8,Avaí,228.8,351.6
22,Internacional,5,169.6,Ceará,181.7,351.3
52,Fortaleza,5,124.2,Coritiba,200.0,324.2
16,Flamengo,5,150.3,Santos,166.9,317.2
46,Goiás,5,129.9,América-MG,182.3,312.2
4,Corinthians,5,79.1,Fluminense,193.0,272.1
28,Athlético-PR,5,171.9,Palmeiras,97.1,269.0

# Pontuação conquistada x Pontuação cedida (casa x fora)

In [22]:
df_conquistados.head()

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
0,Fluminense,1,21.0,Corinthians,15.0,36.0
1,Fluminense,2,62.7,Corinthians,41.4,104.1
2,Fluminense,3,53.7,Corinthians,31.6,85.3
3,Fluminense,4,86.5,Corinthians,116.4,202.9
4,Fluminense,5,149.3,Corinthians,82.5,231.8

In [23]:
df_cedidos.head()

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Corinthians,1,22.2,Fluminense,32.2,54.4
1,Corinthians,2,52.6,Fluminense,61.8,114.4
2,Corinthians,3,74.9,Fluminense,60.1,135.0
3,Corinthians,4,143.7,Fluminense,112.9,256.6
4,Corinthians,5,30.7,Fluminense,93.6,124.3

In [24]:
df_conquistados[
    (df_conquistados['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
24,Palmeiras,1,33.0,Athlético-PR,28.0,61.0
12,Santos,1,30.7,Flamengo,30.0,60.7
54,Bragantino,1,26.0,Botafogo,20.5,46.5
42,América-MG,1,25.0,Goiás,19.5,44.5
36,Atlético-GO,1,17.5,São Paulo,25.7,43.2
48,Coritiba,1,25.7,Fortaleza,14.5,40.2
18,Ceará,1,12.5,Internacional,26.4,38.9
0,Fluminense,1,21.0,Corinthians,15.0,36.0
6,Juventude,1,14.0,Atlético-MG,21.5,35.5
30,Avaí,1,12.0,Cuiabá,19.5,31.5

In [25]:
df_cedidos[
    (df_cedidos['id_position'] == GOLEIRO)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
0,Corinthians,1,22.2,Fluminense,32.2,54.4
24,Athlético-PR,1,31.2,Palmeiras,19.0,50.2
18,Internacional,1,22.0,Ceará,28.0,50.0
6,Atlético-MG,1,19.5,Juventude,27.0,46.5
42,Goiás,1,24.0,América-MG,21.0,45.0
36,São Paulo,1,14.5,Atlético-GO,28.7,43.2
54,Botafogo,1,18.0,Bragantino,17.7,35.7
30,Cuiabá,1,30.2,Avaí,3.5,33.7
12,Flamengo,1,4.4,Santos,26.2,30.6
48,Fortaleza,1,0.5,Coritiba,30.0,30.5

In [26]:
df_conquistados[
    (df_conquistados['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
43,América-MG,2,64.4,Goiás,95.2,159.6
25,Palmeiras,2,83.6,Athlético-PR,74.7,158.3
49,Coritiba,2,89.6,Fortaleza,64.1,153.7
13,Santos,2,53.5,Flamengo,74.0,127.5
55,Bragantino,2,51.1,Botafogo,65.7,116.8
37,Atlético-GO,2,48.8,São Paulo,63.3,112.1
7,Juventude,2,44.6,Atlético-MG,62.1,106.7
1,Fluminense,2,62.7,Corinthians,41.4,104.1
31,Avaí,2,31.3,Cuiabá,63.6,94.9
19,Ceará,2,46.5,Internacional,16.5,63.0

In [27]:
df_cedidos[
    (df_cedidos['id_position'] == 2)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
55,Botafogo,2,71.9,Bragantino,46.6,118.5
19,Internacional,2,62.5,Ceará,55.5,118.0
1,Corinthians,2,52.6,Fluminense,61.8,114.4
25,Athlético-PR,2,68.2,Palmeiras,36.6,104.8
37,São Paulo,2,43.8,Atlético-GO,57.4,101.2
7,Atlético-MG,2,50.9,Juventude,48.5,99.4
49,Fortaleza,2,19.6,Coritiba,75.8,95.4
13,Flamengo,2,20.8,Santos,70.1,90.9
31,Cuiabá,2,33.6,Avaí,36.3,69.9
43,Goiás,2,21.7,América-MG,40.9,62.6

In [28]:
df_conquistados[
    (df_conquistados['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
26,Palmeiras,3,102.9,Athlético-PR,64.0,166.9
14,Santos,3,55.5,Flamengo,66.7,122.2
50,Coritiba,3,68.2,Fortaleza,50.3,118.5
44,América-MG,3,58.2,Goiás,59.5,117.7
56,Bragantino,3,80.5,Botafogo,30.9,111.4
8,Juventude,3,42.6,Atlético-MG,46.7,89.3
32,Avaí,3,18.1,Cuiabá,67.2,85.3
2,Fluminense,3,53.7,Corinthians,31.6,85.3
20,Ceará,3,24.1,Internacional,49.6,73.7
38,Atlético-GO,3,17.4,São Paulo,39.5,56.9

In [29]:
df_cedidos[
    (df_cedidos['id_position'] == 3)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
2,Corinthians,3,74.9,Fluminense,60.1,135.0
26,Athlético-PR,3,67.5,Palmeiras,34.3,101.8
20,Internacional,3,59.3,Ceará,29.9,89.2
56,Botafogo,3,30.8,Bragantino,57.8,88.6
8,Atlético-MG,3,36.3,Juventude,50.3,86.6
44,Goiás,3,34.3,América-MG,50.9,85.2
14,Flamengo,3,22.8,Santos,62.1,84.9
32,Cuiabá,3,48.7,Avaí,36.2,84.9
50,Fortaleza,3,32.4,Coritiba,35.9,68.3
38,São Paulo,3,18.2,Atlético-GO,27.8,46.0

In [30]:
df_conquistados[
    (df_conquistados['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
39,Atlético-GO,4,153.3,São Paulo,127.1,280.4
27,Palmeiras,4,182.5,Athlético-PR,90.4,272.9
57,Bragantino,4,93.9,Botafogo,133.4,227.3
3,Fluminense,4,86.5,Corinthians,116.4,202.9
51,Coritiba,4,99.3,Fortaleza,91.9,191.2
33,Avaí,4,90.2,Cuiabá,92.1,182.3
45,América-MG,4,58.9,Goiás,118.6,177.5
15,Santos,4,77.0,Flamengo,93.9,170.9
21,Ceará,4,58.4,Internacional,90.4,148.8
9,Juventude,4,55.6,Atlético-MG,85.8,141.4

In [31]:
df_cedidos[
    (df_cedidos['id_position'] == 4)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
3,Corinthians,4,143.7,Fluminense,112.9,256.6
21,Internacional,4,105.4,Ceará,103.2,208.6
15,Flamengo,4,143.7,Santos,61.2,204.9
9,Atlético-MG,4,87.6,Juventude,113.2,200.8
39,São Paulo,4,93.0,Atlético-GO,90.2,183.2
57,Botafogo,4,69.3,Bragantino,92.1,161.4
27,Athlético-PR,4,77.7,Palmeiras,71.7,149.4
45,Goiás,4,74.7,América-MG,72.8,147.5
51,Fortaleza,4,73.8,Coritiba,64.2,138.0
33,Cuiabá,4,69.8,Avaí,61.1,130.9

In [32]:
df_conquistados[
    (df_conquistados['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,mandante,id_position,pontos_conquistados,visitante,pontos_cedidos,cedidos_mais_conquistados
16,Santos,5,170.7,Flamengo,113.3,284.0
34,Avaí,5,150.8,Cuiabá,125.6,276.4
28,Palmeiras,5,119.8,Athlético-PR,118.1,237.9
4,Fluminense,5,149.3,Corinthians,82.5,231.8
52,Coritiba,5,142.3,Fortaleza,77.9,220.2
46,América-MG,5,97.7,Goiás,108.4,206.1
58,Bragantino,5,86.7,Botafogo,101.6,188.3
22,Ceará,5,66.7,Internacional,94.4,161.1
40,Atlético-GO,5,68.5,São Paulo,87.4,155.9
10,Juventude,5,65.7,Atlético-MG,56.9,122.6

In [33]:
df_cedidos[
    (df_cedidos['id_position'] == 5)
].sort_values(by='cedidos_mais_conquistados', ascending=False)

,visitante,id_position,pontos_conquistados,mandante,pontos_cedidos,cedidos_mais_conquistados
22,Internacional,5,78.1,Ceará,107.3,185.4
34,Cuiabá,5,69.8,Avaí,101.4,171.2
58,Botafogo,5,108.1,Bragantino,59.7,167.8
10,Atlético-MG,5,78.2,Juventude,84.1,162.3
46,Goiás,5,75.2,América-MG,76.9,152.1
52,Fortaleza,5,81.4,Coritiba,59.7,141.1
28,Athlético-PR,5,82.7,Palmeiras,58.0,140.7
16,Flamengo,5,56.9,Santos,81.9,138.8
4,Corinthians,5,30.7,Fluminense,93.6,124.3
40,São Paulo,5,67.5,Atlético-GO,53.2,120.7