### Notebook responsável por executar os diversos notebooks

In [1]:
%run ./database.ipynb
%run ./clubes.ipynb
%run ./partidas.ipynb
%run ./jogadores.ipynb
%run ./transformacoes.ipynb

In [2]:
# Inicializando o banco de dados

engine = prepare_database()

In [3]:
# Busca os clubes participantes e salva no banco

rows = collect_clubs_and_save_to_database(engine)
print("Quantidade de linhas para clubes: {}".format(rows))

Quantidade de linhas para clubes: [(20,)]

In [4]:
# Busca pelas novas partidas e salva no banco

rows = collect_matches_and_save_to_database(engine)
print("Quantidade de linhas para partidas: {}".format(rows))

Quantidade de linhas para partidas: [(60,)]

In [5]:
# Busca pelos novos scouts e salva no banco

rows = collect_scouts_and_save_to_database(engine)
print("Quantidade de linhas para scouts: {}".format(rows))

Quantidade de linhas para scouts: [(1953,)]

In [6]:
# Busca os dados e monta os dataframes

df_matches = get_matches_dataframe(engine)
df_scouts = get_scouts_dataframe(engine)
df_clubs = get_clubs_dataframe(engine)

In [10]:
aplica_transformacoes_dataframe_partidas(df_matches)
df_matches.head()

,match_id,turn,home_id,visitor_id,date,timestamp,local,valid,home_goal,visitor_goal,year,diff_goals,vencedor,datetime
0,287509,1,266,277,2022-04-09 16:30:00,1649532600,Maracanã,True,0.0,0.0,2022,0.0,EMPATE,2022-04-09 16:30:00
1,287515,1,373,262,2022-04-09 19:00:00,1649541600,Antônio Accioly,True,1.0,1.0,2022,0.0,EMPATE,2022-04-09 19:00:00
2,287511,1,275,354,2022-04-09 21:00:00,1649548800,Allianz Parque,True,2.0,3.0,2022,-1.0,VISITANTE,2022-04-09 21:00:00
3,287517,1,294,290,2022-04-10 11:00:00,1649599200,Couto Pereira,True,3.0,0.0,2022,3.0,CASA,2022-04-10 11:00:00
4,287508,1,282,285,2022-04-10 16:00:00,1649617200,Mineirão,True,2.0,0.0,2022,2.0,CASA,2022-04-10 16:00:00

In [ ]:
#aplica_transformacoes_dataframe_scouts(df_scouts)